<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jackdking.security.mapper.UserSecurityMapper">
    <resultMap id="BaseResultMap" type="com.jackdking.security.pojo.SecuritySysUser">
        <id column="id" property="id"/>
        <result column="enabled" property="enabled"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="userface" property="userface"/>
    </resultMap>

    <!--通过用户id查询用户的角色列表-->
    <select id="getRolesByUserId" resultType="com.jackdking.security.pojo.SecuritySysRole">
        SELECT r.id,r.name_en as nameEn ,r.name_cn as nameCn
        FROM sys_user_role ur,sys_role r
        where ur.role_id=r.id AND ur.user_id=#{id}
    </select>
    <!--懒加载查询用户的角色-->
    <resultMap id="lazyLoadRoles" type="com.jackdking.security.pojo.SecuritySysUser" extends="BaseResultMap">
        <collection property="roles" ofType="com.jackdking.security.pojo.SecuritySysRole"
                    select="com.jackdking.security.mapper.UserSecurityMapper.getRolesByUserId"
                    column="id">
        </collection>
    </resultMap>

    <!--通过用户名查询-->
    <select id="loadUserByUsername" resultMap="lazyLoadRoles">
        select * from sys_user WHERE username=#{username} limit 1;
    </select>

    <!--权限-->
    <resultMap id="PermissionResultMap" type="com.jackdking.security.pojo.SecuritySysPermission">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="request_url" property="url" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <collection property="roles" ofType="com.jackdking.security.model.SysRole">
            <id column="role_id" property="id"/>
            <result column="name_en" property="nameEn"/>
            <result column="name_cn" property="nameCn"/>
        </collection>
    </resultMap>
    <sql id="Permission_Column_List">
        m.id,m.request_url,m.title,
        r.id as role_id,r.name_en,r.name_cn
    </sql>
    <!--获取数据库当前设置的所有权限-->
    <select id="getAllPermission" resultMap="PermissionResultMap">
        select
        <include refid="Permission_Column_List"/>
        from sys_menu m
        left join sys_menu_role mr on m.id=mr.menu_id
        left join sys_role r on mr.role_id=r.id
        WHERE m.enabled=true
        order by m.id desc
    </select>

    <!--获取用户拥有的菜单-->
    <resultMap id="MenuResultMap" type="com.jackdking.security.pojo.SecuritySysMenu">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="path" property="path" jdbcType="VARCHAR"/>
        <result column="component" property="component" javaType="java.lang.Object"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="title_en" property="titleEn" jdbcType="VARCHAR"/>
        <result column="icon_pic" property="iconPic" jdbcType="VARCHAR"/>
        <result column="parent_id" property="parentId" jdbcType="BIGINT"/>
        <result column="request_url" property="requestUrl" jdbcType="VARCHAR"/>
        <result column="sort_order" property="sortOrder" jdbcType="INTEGER"/>
        <collection property="children" ofType="com.jackdking.security.pojo.SecuritySysMenu">
            <id column="id2" property="id"/>
            <result column="path2" property="path" jdbcType="VARCHAR"/>
            <result column="component2" property="component" jdbcType="VARCHAR"/>
            <result column="title2" property="title" jdbcType="VARCHAR"/>
            <result column="title_en2" property="titleEn" jdbcType="VARCHAR"/>
            <result column="icon_pic2" property="iconPic" jdbcType="VARCHAR"/>
            <result column="parent_id2" property="parentId" jdbcType="BIGINT"/>
            <result column="request_url2" property="requestUrl" jdbcType="VARCHAR"/>
            <result column="sort_order2" property="sortOrder" jdbcType="INTEGER"/>
            <collection property="children" ofType="com.jackdking.security.pojo.SecuritySysMenu">
                <id column="id3" property="id"/>
                <result column="title3" property="title" jdbcType="VARCHAR"/>
            </collection>
        </collection>
    </resultMap>
    <sql id="User_Menu_Column_List">
        m1.id,m1.path,m1.component,m1.icon_pic,m1.title,m1.title_en,m1.parent_id,m1.request_url,m1.sort_order,
        m2.id as id2,m2.path as path2,m2.component as component2,m2.icon_pic as icon_pic2,m2.title as title2,
        m2.title_en as title_en2,m2.parent_id as parent_id2,m2.request_url as request_url2,m2.sort_order as sort_order2
    </sql>
    <select id="getMenuByUid" parameterType="Long" resultMap="MenuResultMap">
        select
        <include refid="User_Menu_Column_List"/>
        from sys_menu m1,sys_menu m2
        where m1.enabled=true
        and m2.enabled=true
        and m1.menu_type=1
        and m2.menu_type=1
        and m1.id=m2.parent_id
        and m2.id in
        (select mr.menu_id from sys_user_role u_r,sys_menu_role mr where u_r.role_id=mr.role_id and
        u_r.user_id=#{userId})
        order by m1.sort_order,m2.sort_order
    </select>
    <!--获取当前用户的当前菜单页面的按钮元素id-->
    <select id="getButtonElementIdByUid" parameterType="Long" resultType="java.lang.String">
        select
        element_id
        from sys_menu m
        where m.menu_type=2
        and m.parent_id = #{menuId}
        and m.id in
        (select mr.menu_id from sys_user_role u_r,sys_menu_role mr where u_r.role_id=mr.role_id and
        u_r.user_id=#{userId})
        order by m.sort_order
    </select>
</mapper>