<!Doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>首页面</title>

    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="shortcut icon" th:href="@{/admin/images/favicon.png}"/>

    <script th:src="@{//cdn.bootcss.com/jquery/2.2.3/jquery.min.js}"></script>
    <script th:src="@{/js/amazeui.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/amazeui.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/app.css}"/>
    <script th:src="@{/js/base.js}"></script>
</head>
<script type="text/javascript">

var tale = new $.tale();
function loginOut() {
    tale.post({
        url: '/loginOut',
        success: function (result) {
            if (result && result.success) {
                window.location.href = '/login';
            } else {
                alert('登录失败:'+result.msg);
            }
        }
    });
    return false;
}
</script>

<body>
欢迎来登入成功页面！

<button onclick="loginOut();">退出</button>
</body>
</html>