<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jackdking.dao.TransInfoMapper">
    <insert id="save" parameterType="TransInfo">
        INSERT INTO trans_info0(userid,orderid)
        VALUES
        (
        #{userid},#{orderid}
        )
    </insert>

    <select id="get" parameterType="Long" resultType="TransInfo">
    	select * from trans_info0 where id = #{id}
    </select>

    <select id="queryDs0" parameterType="Long" resultType="TransInfo">
      select * from trans_info0 where id = #{id}
    </select>

    <select id="queryDs1" parameterType="Long" resultType="TransInfo">
      select * from trans_info0 where id = #{id}
    </select>

</mapper>
